/* Fonts */
/* work-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Works-Sans/work-sans-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/Works-Sans/work-sans-v19-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Works-Sans/work-sans-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* work-sans-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/Works-Sans/work-sans-v19-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* merriweather-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Merriweather/merriweather-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merriweather-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/Merriweather/merriweather-v30-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merriweather-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Merriweather/merriweather-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merriweather-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/Merriweather/merriweather-v30-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure text-areas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Root Element variables */

:root {
  --text: #050905;
  --background: #D5EED5;
  --primary: #6dac6d;
  --secondary: #aacfbe;
  --accent: #86bbaf;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  color: var(--text);
  background-color: var(--background);
  margin: 0;
  padding: 24px;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: 'Merriweather','Courier New', Courier, monospace;
}

h1, h2, h3 {
  font-family: 'Work Sans','Courier New', Courier, monospace;
}

header,.profile-image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text);
  border-radius: 24px;
}

#about-section{
  background-color: var(--primary);
  padding: 20px;
  border-radius: 16px;
}

.image-container{
  margin-top: 16px;
  border: 8px solid var(--secondary);
  border-radius: 12px;
  width: 400px;
  height: auto;
  background-color: var(--secondary);
}

.image-container>h3{
  margin-bottom: 16px;
}

.profile-pic {
  margin: 30px;
  width: 400px;
}

img{
  border-radius: 16px;
}

.title{
  font-family: 'Work Sans','Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;

}

#battles-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.battle-card {
  width: 80vw;
  margin-bottom: 16px;
  background-color: var(--primary); 
  color: var(--text);
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 
              0 1px 3px rgba(0, 0, 0, 0.25); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.battle-card:hover{
  
  transform: translateY(-10px); 
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 
              0 4px 6px rgba(0, 0, 0, 0.25);

}

.battle-header-container {
  display: flex;
  flex-direction: row;
  font-family: 'Work Sans','Courier New', Courier, monospace;
  font-size: x-large;
  margin-bottom: 8px;
  margin-top: 8px;
}

.battle-title{
  flex: 1;
}

.paragraph, .battle-summary{
  text-align: justify;
}

#footer-container{
  background-color: var(--primary);
  padding: 20px;
  border-radius: 16px;
}

footer, #footer-container, #footer-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  gap: 8px;
}

#footer-details{
  align-items: start;
}

@media (min-width: 576px) and (max-width: 1000px) {

  .profile-image-container{
    flex-direction: row;
  }

  .profile-pic{
    width: 300px;
  }

  .paragraph{
    width:75vw;
  }
  #battles-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: stretch;
  }
  
  .battle-card{
    width: 42vw;
  }

  #footer-container{
    flex-direction: row;
  }

}

@media (min-width: 1000px) {

 header{
    flex-direction: row;
    align-items: end;
  }

  .paragraph{
    width:50vw;
    font-size: larger;
  }

  .profile-pic{
    width: 320px;
  }
  #battles-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: stretch;
  }
  
  .battle-card{
    width: 28vw;
  }

  #footer-container{
    flex-direction: row;
  }

}